.app{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app_header{
  height: 60px;
  background-color:tan;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app_header button{
  margin-left: 20px;
}

.app_body{
  display: flex;
  flex: 1;
}

.menu{
  width: 300px;
  background-color: steelblue;
  display: flex;
  flex-direction: column;
}

.menu_button{
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: wheat;
  border: 1px solid darkcyan;
}

.menu_button:hover{
  background-color: darkseagreen;
  
}

.menu_button.active{
  background-color: darkseagreen;
}


.content{
  background-color: thistle;
  flex: 1;
}


